body{
    background-color: black;
    color: whitesmoke
    
}
@media(min-width:801px) and (max-width:1000px){
    body{
    background-color: #0000ff;
    color: gold;
    }
}
@media(min-width:601px) and (max-width: 800px){
    body{
        background-color: #ccc;
        color: green;
    }
}
@media(min-width: 200px) and (max-width: 400px){
    body{
        background-color: yellow ;
        color: black;
    }
}
