body{
    margin: 0;
    background-color: #eee;
}
/*form{
    background-color: #999;
    margin: auto;
    width: 200px;
    height: 150px;
    padding: 20px;
    margin-top: 20px ;
}
input{
    padding: 5px;
    font-size: 13px;
}*/